name: ci 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  nix:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Enter dev shell
        run: nix develop 

      - name: Make lint
        run: make lint
